
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Request</title>

    
<style>
* {
    margin: 0;
    padding: 0;  
}
header, main, footer, nav, aside, div,body {
    display: block;
}
 
 
 
header{
    width: 100%;
    height: 104px;
    background-color: #C7C7C7;
}
 
body {
    background-size:cover;
    background-repeat:no-repeat;
   
}
 
  .card {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .card-content {
    padding: 20px;
  }
  .card-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  .card-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  .client-details {
    font-size: 12px;
    color: #333;
    margin-bottom: 15px; /* Added margin for spacing above buttons */
  }
  /* Button styling */
  .card-button {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
    margin-right: 10px; /* Space between buttons */
  }
  .card-button:hover {background-color: #45a049}
  .card-button:active {
    background-color: #45a049;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
  /* Different color for delete button */
  .delete-button {
    background-color: #f44336;
  }
  .delete-button:hover {
    background-color: #dc2836;
  }
</style>

</head>
<body>

    <header><img src="/images/image 1.png"> </header>
    <h3>New Request</h3>

    <div class="card">
      <img src="data:<%= request.image.contentType %>;base64,<%= request.image.image.toString('base64') %>" alt="Client Image">
      <div class="card-content">
        <h2 class="card-title">Problem Description</h2>
        <p class="card-desc"><%= request.details %></p>
        <p class="client-details"><strong>name: <%= userData.fullName %></strong><br>
        <strong>Client Number:</strong> <%= userData.phoneNumber %></p>
        Buttons
        <button class="card-button delete-button" id="deleteButton">Reject</button>
        <button class="card-button">Add Offer</button>
      </div>
    </div>

</body>
</html>


